# Datensatz runterladen

In [1]:
fname = "used_cars_autoscout24.csv"
URL = "http://www.juergenbrauer.org/datasets/" + fname
import urllib.request
urllib.request.urlretrieve(URL, fname)

('used_cars_autoscout24.csv', <http.client.HTTPMessage at 0x7e42525ecad0>)

# Daten einlesen

In [5]:
!pip install pandas

Requirement already satisfied: pandas in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [21]:
import pandas
t = pandas.read_csv(fname)

In [8]:
t

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251074,251074,volvo,Volvo XC40,white,04/2023,2023,57990,192,261,Automatic,Hybrid,NaN,43 km Reichweite,1229.0,Plus Bright T5 Recharge Intellisafe*Surround+P...
251075,251075,volvo,Volvo XC90,white,03/2023,2023,89690,173,235,Automatic,Diesel,"7,6 l/100 km",202 g/km,4900.0,B5 AWD Diesel Ultimate Dark 7-Sitzer Massage F...
251076,251076,volvo,Volvo V60,white,05/2023,2023,61521,145,197,Automatic,Diesel,"4,7 l/100 km",125 g/km,1531.0,"B4 D Plus Dark 145 kW, 5-türig (Diesel)"
251077,251077,volvo,Volvo XC40,white,05/2023,2023,57890,132,179,Automatic,Hybrid,NaN,45 km Reichweite,1500.0,T5 Recharge Plus Dark *Standh*360°*beh.Lenk
251078,251078,volvo,Volvo XC40,gold,03/2023,2023,52900,160,218,Automatic,Electric,NaN,438 km Reichweite,50.0,Ultimate Recharge Twin Motor AHK GJR

In [12]:
t.head(3)

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916

In [13]:
t.tail(7)

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
251072,251072,volvo,Volvo XC60,silver,05/2023,2023,55400,145,197,Automatic,Diesel,"5,6 l/100 km",142 g/km,5000.0,B4 Autom. Plus Dark Keyless-Start/Klima/LED/BC
251073,251073,volvo,Volvo XC60,silver,03/2023,2023,54500,145,197,Automatic,Diesel,"5,6 l/100 km",142 g/km,5900.0,B4 Autom. Plus Dark Sitzhzg.
251074,251074,volvo,Volvo XC40,white,04/2023,2023,57990,192,261,Automatic,Hybrid,NaN,43 km Reichweite,1229.0,Plus Bright T5 Recharge Intellisafe*Surround+P...
251075,251075,volvo,Volvo XC90,white,03/2023,2023,89690,173,235,Automatic,Diesel,"7,6 l/100 km",202 g/km,4900.0,B5 AWD Diesel Ultimate Dark 7-Sitzer Massage F...
251076,251076,volvo,Volvo V60,white,05/2023,2023,61521,145,197,Automatic,Diesel,"4,7 l/100 km",125 g/km,1531.0,"B4 D Plus Dark 145 kW, 5-türig (Diesel)"
251077,251077,volvo,Volvo XC40,white,05/2023,2023,57890,132,179,Automatic,Hybrid,NaN,45 km Reichweite,1500.0,T5 Recharge Plus Dark *Standh*360°*beh.Lenk
251078,251078,volvo,Volvo XC40,gold,03/2023,2023,52900,160,218,Automatic,Electric,NaN,438 km Reichweite,50.0,Ultimate Recharge Twin Motor AHK GJR

In [17]:
t.sample(5)

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
163282,163282,peugeot,Peugeot 2008,grey,01/2022,2022,30500,100,136,Automatic,Electric,NaN,320 km Reichweite,12654.0,2008 Elektro Active Pack
220767,220767,volkswagen,Volkswagen Golf,white,07/2009,2009,4100,59,80,Manual,Petrol,"6,4 l/100 km",- (g/km),220000.0,"6 Trendline, weiß, Alu, LED Leuchten, gepflegt"
112844,112844,mercedes-benz,Mercedes-Benz E 250,black,04/2013,2013,12890,150,204,Automatic,Diesel,"6,1 l/100 km",162 g/km,202240.0,E250 CDI E-Klasse T-Modell Avantgarde NAVI/XENON
247712,247712,volvo,Volvo V60,black,05/2017,2017,14299,110,150,Manual,Diesel,"3,9 l/100 km",102 g/km,128525.0,Kombi Linje Business*Xenon*PDC*Navi*Euro6*
9395,9395,audi,Audi A3,silver,08/2014,2014,20990,110,150,Automatic,Diesel,"4,4 l/100 km",115 g/km,123000.0,2.0 TDI Limo.*S-Line*S-Tronic*Xenon*Navi*

In [18]:
t.sample(100).to_html("beispielautos.html")

# Datenqualität beurteilen

In [19]:
t.columns

Index(['Unnamed: 0', 'brand', 'model', 'color', 'registration_date', 'year',
       'price_in_euro', 'power_kw', 'power_ps', 'transmission_type',
       'fuel_type', 'fuel_consumption_l_100km', 'fuel_consumption_g_km',
       'mileage_in_km', 'offer_description'],
      dtype='object')

In [20]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             251079 non-null  object
 7   power_kw                  250945 non-null  object
 8   power_ps                  250950 non-null  object
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 28.7+ MB

In [22]:
t.shape

(251079, 15)

In [27]:
d = {"A" : [10,20,30,40],
     "B" : [1000,2000.0,"fhdsjf",4000]}
t2 = pandas.DataFrame(d)
t2

    A       B
0  10    1000
1  20  2000.0
2  30  fhdsjf
3  40    4000

In [28]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

# Spalten bereinigen

In [29]:
t["power_ps"]

0         201
1         260
2         150
3         150
4         179
         ...
251074    261
251075    235
251076    197
251077    179
251078    218
Name: power_ps, Length: 251079, dtype: object

In [30]:
type(t)

pandas.core.frame.DataFrame

In [31]:
type(t["power_ps"])

pandas.core.series.Series

In [32]:
t.index

RangeIndex(start=0, stop=251079, step=1)

In [37]:
t["power_ps"] = pandas.to_numeric(t["power_ps"], errors='coerce')

In [38]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             251079 non-null  object
 7   power_kw                  250945 non-null  object
 8   power_ps                  250869 non-null  float64
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 28.7+ MB

In [6]:
import pandas
fname = "used_cars_autoscout24.csv"
t = pandas.read_csv(fname)
t["power_ps"] = pandas.to_numeric(t["power_ps"], errors='coerce')
t["price_in_euro"] = pandas.to_numeric(t["price_in_euro"], errors='coerce')

In [7]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             250880 non-null  float64
 7   power_kw                  250945 non-null  object
 8   power_ps                  250869 non-null  float64
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 28.7+ MB

In [8]:
t.describe()

          Unnamed: 0  price_in_euro       power_ps  mileage_in_km
count  251079.000000   2.508800e+05  250869.000000   2.509270e+05
mean   125539.000000   2.613753e+04     171.809526   8.534002e+04
std     72480.408456   3.698795e+04      99.192201   7.871706e+04
min         0.000000   1.200000e+02       1.000000   0.000000e+00
25%     62769.500000   1.199000e+04     111.000000   2.490400e+04
50%    125539.000000   1.989000e+04     150.000000   6.750000e+04
75%    188308.500000   2.995000e+04     190.000000   1.265000e+05
max    251078.000000   5.890500e+06    2022.000000   3.800000e+06

In [12]:
t.query("price_in_euro > 1e6").shape

(15, 15)

In [15]:
t_bereinigt = t[ ["brand", "mileage_in_km", "power_ps", "price_in_euro"] ]

In [16]:
t_bereinigt

             brand  mileage_in_km  power_ps  price_in_euro
0       alfa-romeo       160500.0     201.0         1300.0
1       alfa-romeo       190000.0     260.0        24900.0
2       alfa-romeo       129000.0     150.0         5900.0
3       alfa-romeo       189500.0     150.0         4900.0
4       alfa-romeo        96127.0     179.0        17950.0
...            ...            ...       ...            ...
251074       volvo         1229.0     261.0        57990.0
251075       volvo         4900.0     235.0        89690.0
251076       volvo         1531.0     197.0        61521.0
251077       volvo         1500.0     179.0        57890.0
251078       volvo           50.0     218.0        52900.0

[251079 rows x 4 columns]

In [17]:
t_bereinigt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   brand          251079 non-null  object
 1   mileage_in_km  250927 non-null  float64
 2   power_ps       250869 non-null  float64
 3   price_in_euro  250880 non-null  float64
dtypes: float64(3), object(1)
memory usage: 7.7+ MB

In [27]:
import pandas
fname = "used_cars_autoscout24.csv"
t = pandas.read_csv(fname)
t["power_ps"] = pandas.to_numeric(t["power_ps"], errors='coerce')
t["price_in_euro"] = pandas.to_numeric(t["price_in_euro"], errors='coerce')
t_bereinigt = t[ ["brand", "mileage_in_km", "power_ps", "price_in_euro"] ]
t_bereinigt = t_bereinigt.dropna(axis="rows")

In [28]:
t_bereinigt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250692 entries, 0 to 251078
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   brand          250692 non-null  object
 1   mileage_in_km  250692 non-null  float64
 2   power_ps       250692 non-null  float64
 3   price_in_euro  250692 non-null  float64
dtypes: float64(3), object(1)
memory usage: 9.6+ MB

x1-x47 (brand)      --->
x48 (mileage_in_km) --->  Perceptron ---> y1 (price_in_euro)
x49 (power_ps)      --->

In [37]:
t_bereinigt["brand"].unique()

array(['alfa-romeo', 'aston-martin', 'audi', 'bentley', 'bmw', 'cadillac',
       'chevrolet', 'chrysler', 'citroen', 'dacia', 'daewoo', 'daihatsu',
       'dodge', 'ferrari', 'fiat', 'ford', 'honda', 'hyundai', 'infiniti',
       'isuzu', 'jaguar', 'jeep', 'kia', 'lada', 'lamborghini', 'lancia',
       'land-rover', 'maserati', 'mazda', 'mercedes-benz', 'mini',
       'mitsubishi', 'nissan', 'opel', 'peugeot', 'porsche', 'proton',
       'renault', 'rover', 'saab', 'seat', 'skoda', 'smart', 'ssangyong',
       'toyota', 'volkswagen', 'volvo'], dtype=object)

In [38]:
len(t_bereinigt["brand"].unique())

47

In [39]:
t_bereinigt["brand"].nunique()

47

# Exkurs: One-Hot-Encoding

In [41]:
d = {"Modell"   : ["bmw", "bmw", "audi", "vw", "volvo"],
     "km-Stand" : [10000, 20000, 15000, 120000, 200000]}
t2 = pandas.DataFrame(d)
t2

  Modell  km-Stand
0    bmw     10000
1    bmw     20000
2   audi     15000
3     vw    120000
4  volvo    200000

In [42]:
t2["Modell"].unique()

array(['bmw', 'audi', 'vw', 'volvo'], dtype=object)

In [43]:
pandas.get_dummies(t2)

   km-Stand  Modell_audi  Modell_bmw  Modell_volvo  Modell_vw
0     10000        False        True         False      False
1     20000        False        True         False      False
2     15000         True       False         False      False
3    120000        False       False         False       True
4    200000        False       False          True      False

In [1]:
import pandas
fname = "used_cars_autoscout24.csv"
t = pandas.read_csv(fname)
t["power_ps"] = pandas.to_numeric(t["power_ps"], errors='coerce')
t["price_in_euro"] = pandas.to_numeric(t["price_in_euro"], errors='coerce')
t_bereinigt = t[ ["brand", "mileage_in_km", "power_ps", "price_in_euro"] ]
t_bereinigt = t_bereinigt.dropna(axis="rows")
t_bereinigt = pandas.get_dummies(t_bereinigt)

In [2]:
t_bereinigt

,mileage_in_km,power_ps,price_in_euro,brand_alfa-romeo,brand_aston-martin,brand_audi,brand_bentley,brand_bmw,brand_cadillac,brand_chevrolet,...,brand_renault,brand_rover,brand_saab,brand_seat,brand_skoda,brand_smart,brand_ssangyong,brand_toyota,brand_volkswagen,brand_volvo
0,160500.0,201.0,1300.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,190000.0,260.0,24900.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,129000.0,150.0,5900.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,189500.0,150.0,4900.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,96127.0,179.0,17950.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251074,1229.0,261.0,57990.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
251075,4900.0,235.0,89690.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
251076,1531.0,197.0,61521.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
251077,1500.0,179.0,57890.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
251078,50.0,218.0,52900.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

# Daten fürs ML vorbereiten

In [3]:
t_bereinigt.describe()

       mileage_in_km       power_ps  price_in_euro
count   2.506920e+05  250692.000000   2.506920e+05
mean    8.537758e+04     171.704510   2.611698e+04
std     7.872525e+04      97.897378   3.685962e+04
min     0.000000e+00       1.000000   1.200000e+02
25%     2.495975e+04     111.000000   1.199000e+04
50%     6.752900e+04     150.000000   1.989000e+04
75%     1.265500e+05     190.000000   2.995000e+04
max     3.800000e+06     999.000000   5.890500e+06

## Input-/Output-Split

In [6]:
x = t_bereinigt.drop("price_in_euro", axis="columns")
y = t_bereinigt[ ["price_in_euro"] ]

In [7]:
x.shape

(250692, 49)

In [8]:
y.shape

(250692, 1)

## Train-/Test-Split

In [10]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/juebrauer/miniconda3/envs/env_ss24/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [27]:
x_train.shape

(200553, 49)

In [28]:
y_train.shape

(200553, 1)

In [29]:
x_test.shape

(50139, 49)

In [30]:
y_test.shape

(50139, 1)

## Skalierung der Daten

In [31]:
d = {"S1" : [-50, +50, 0, 25, 25],
     "S2" : [-1000, 0, +1000, 500, -250]}
t2 = pandas.DataFrame(d)
t2

   S1    S2
0 -50 -1000
1  50     0
2   0  1000
3  25   500
4  25  -250

In [34]:
from sklearn.preprocessing import MinMaxScaler
s = MinMaxScaler(feature_range=(0,1))
s.fit(t2)
s.transform(t2)

array([[0.   , 0.   ],
       [1.   , 0.5  ],
       [0.5  , 1.   ],
       [0.75 , 0.75 ],
       [0.75 , 0.375]])

In [35]:
from sklearn.preprocessing import MinMaxScaler
s_input = MinMaxScaler(feature_range=(0,1))
s_output = MinMaxScaler(feature_range=(0,1))
s_input.fit(x_train)
s_output.fit(y_train)
x_train_scaled = s_input.transform(x_train)
y_train_scaled = s_output.transform(y_train)

In [38]:
y_train_scaled

array([[0.00269422],
       [0.00557349],
       [0.00277741],
       ...,
       [0.00379093],
       [0.00455488],
       [0.0013376 ]])

In [37]:
x_train

,mileage_in_km,power_ps,brand_alfa-romeo,brand_aston-martin,brand_audi,brand_bentley,brand_bmw,brand_cadillac,brand_chevrolet,brand_chrysler,...,brand_renault,brand_rover,brand_saab,brand_seat,brand_skoda,brand_smart,brand_ssangyong,brand_toyota,brand_volkswagen,brand_volvo
56171,24400.0,69.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15586,94596.0,122.0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
240583,92470.0,116.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
76324,10.0,205.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
71646,49976.0,457.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74514,15.0,170.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
68448,76200.0,250.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
116056,110000.0,170.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18894,40768.0,150.0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
220037,147000.0,122.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

# Alles Bisherige in einer Codezelle

In [ ]:
import pandas
fname = "used_cars_autoscout24.csv"
t = pandas.read_csv(fname)
t["power_ps"] = pandas.to_numeric(t["power_ps"], errors='coerce')
t["price_in_euro"] = pandas.to_numeric(t["price_in_euro"], errors='coerce')
t_bereinigt = t[ ["brand", "mileage_in_km", "power_ps", "price_in_euro"] ]
t_bereinigt = t_bereinigt.dropna(axis="rows")
t_bereinigt = pandas.get_dummies(t_bereinigt)

x = t_bereinigt.drop("price_in_euro", axis="columns")
y = t_bereinigt[ ["price_in_euro"] ]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

from sklearn.preprocessing import MinMaxScaler
s_input = MinMaxScaler(feature_range=(0,1))
s_output = MinMaxScaler(feature_range=(0,1))
s_input.fit(x_train)
s_output.fit(y_train)
x_train_scaled = s_input.transform(x_train)
y_train_scaled = s_output.transform(y_train)