# Datensatz runterladen

In [1]:
url = "http://storage.googleapis.com/download.tensorflow.org/data/ecg.csv"
import pandas
t = pandas.read_csv(url, header=None)
t

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,140
0,-0.112522,-2.827204,-3.773897,-4.349751,-4.376041,-3.474986,-2.181408,-1.818286,-1.250522,-0.477492,...,0.792168,0.933541,0.796958,0.578621,0.257740,0.228077,0.123431,0.925286,0.193137,1.0
1,-1.100878,-3.996840,-4.285843,-4.506579,-4.022377,-3.234368,-1.566126,-0.992258,-0.754680,0.042321,...,0.538356,0.656881,0.787490,0.724046,0.555784,0.476333,0.773820,1.119621,-1.436250,1.0
2,-0.567088,-2.593450,-3.874230,-4.584095,-4.187449,-3.151462,-1.742940,-1.490659,-1.183580,-0.394229,...,0.886073,0.531452,0.311377,-0.021919,-0.713683,-0.532197,0.321097,0.904227,-0.421797,1.0
3,0.490473,-1.914407,-3.616364,-4.318823,-4.268016,-3.881110,-2.993280,-1.671131,-1.333884,-0.965629,...,0.350816,0.499111,0.600345,0.842069,0.952074,0.990133,1.086798,1.403011,-0.383564,1.0
4,0.800232,-0.874252,-2.384761,-3.973292,-4.338224,-3.802422,-2.534510,-1.783423,-1.594450,-0.753199,...,1.148884,0.958434,1.059025,1.371682,1.277392,0.960304,0.971020,1.614392,1.421456,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,0.608558,-0.335651,-0.990948,-1.784153,-2.626145,-2.957065,-2.931897,-2.664816,-2.090137,-1.461841,...,1.757705,2.291923,2.704595,2.451519,2.017396,1.704358,1.688542,1.629593,1.342651,0.0
4994,-2.060402,-2.860116,-3.405074,-3.748719,-3.513561,-3.006545,-2.234850,-1.593270,-1.075279,-0.976047,...,1.388947,2.079675,2.433375,2.159484,1.819747,1.534767,1.696818,1.483832,1.047612,0.0
4995,-1.122969,-2.252925,-2.867628,-3.358605,-3.167849,-2.638360,-1.664162,-0.935655,-0.866953,-0.645363,...,-0.472419,-1.310147,-2.029521,-3.221294,-4.176790,-4.009720,-2.874136,-2.008369,-1.808334,0.0
4996,-0.547705,-1.889545,-2.839779,-3.457912,-3.929149,-3.966026,-3.492560,-2.695270,-1.849691,-1.374321,...,1.258419,1.907530,2.280888,1.895242,1.437702,1.193433,1.261335,1.150449,0.804932,0.0
4997,-1.351779,-2.209006,-2.520225,-3.061475,-3.065141,-3.030739,-2.622720,-2.044092,-1.295874,-0.733839,...,-1.512234,-2.076075,-2.586042,-3.322799,-3.627311,-3.437038,-2.260023,-1.577823,-0.684531,0.0

In [2]:
t.to_csv("ecgs.csv")

# Daten fürs ML vorbereiten

In [3]:
x = t.iloc[:,0:-1]

In [4]:
x.shape

(4998, 140)

In [5]:
y = t.iloc[:,-1]

In [6]:
y.shape

(4998,)

In [7]:
y[:10]

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: 140, dtype: float64

In [8]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/juebrauer/miniconda3/envs/env_ml_tf/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /home/juebrauer/miniconda3/envs/env_ml_tf/lib/python3.12/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /home/juebrauer/miniconda3/envs/env_ml_tf/lib/python3.12/site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in /home/juebrauer/miniconda3/envs/env_ml_tf/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/juebrauer/miniconda3/envs/env_ml_tf/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
x_train.shape

(3998, 140)

In [11]:
y_train.shape

(3998,)

In [12]:
x_test.shape

(1000, 140)

In [13]:
y_test.shape

(1000,)

In [14]:
y_test[:10]

4751    0.0
4893    0.0
4949    0.0
1952    1.0
1212    1.0
2328    1.0
898     1.0
3540    0.0
1213    1.0
3514    0.0
Name: 140, dtype: float64

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [16]:
x_train_scaled_normal   = x_train_scaled[ y_train.astype(bool) ]
x_train_scaled_abnormal = x_train_scaled[ ~y_train.astype(bool) ]

x_test_normal   = x_test_scaled[ y_test.astype(bool) ]
x_test_abnormal = x_test_scaled[ ~y_test.astype(bool) ]

# Alles in einer Codezelle

In [17]:
# 1. Daten runterladen
url = "http://storage.googleapis.com/download.tensorflow.org/data/ecg.csv"
import pandas
t = pandas.read_csv(url, header=None)

# 2. Daten fürs ML vorbereiten
x = t.iloc[:,0:-1]
y = t.iloc[:,-1]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

x_train_scaled_normal   = x_train_scaled[ y_train.astype(bool) ]
x_train_scaled_abnormal = x_train_scaled[ ~y_train.astype(bool) ]
x_test_normal   = x_test_scaled[ y_test.astype(bool) ]
x_test_abnormal = x_test_scaled[ ~y_test.astype(bool) ]

In [18]:
type(x_train_scaled_normal)

numpy.ndarray

In [19]:
x_train_scaled_normal.shape

(2327, 140)

In [20]:
x_train_scaled.shape

(3998, 140)

# Exkurs: Skalierung von Daten

In [21]:
d = {"A" : [-10,10,0,5,-5],
     "B" : [-200,-100,0,100,200]}
import pandas
t2 = pandas.DataFrame(d)
t2

    A    B
0 -10 -200
1  10 -100
2   0    0
3   5  100
4  -5  200

In [22]:
from sklearn.preprocessing import MinMaxScaler
s = MinMaxScaler()
s.fit(t2)
s.transform(t2)

array([[0.  , 0.  ],
       [1.  , 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [0.25, 1.  ]])

In [23]:
type(x_train_scaled)

numpy.ndarray

In [24]:
x_train.iloc[:,0].values.min()

np.float64(-5.1480379)

In [25]:
x_train_scaled[:,0].min()

np.float64(0.0)

In [26]:
x_train_scaled[:,0].max()

np.float64(0.9999999999999999)

# Boolean Indexing

In [27]:
t2

    A    B
0 -10 -200
1  10 -100
2   0    0
3   5  100
4  -5  200

In [28]:
t2.shape

(5, 2)

In [29]:
t2.iloc[[0,3]]

    A    B
0 -10 -200
3   5  100

In [30]:
t2[ [True, False, False, True, False] ]

    A    B
0 -10 -200
3   5  100

In [34]:
x_train[ y_train.astype(bool ) ]

,0,1,2,3,4,5,6,7,8,9,...,130,131,132,133,134,135,136,137,138,139
2741,0.468623,-1.032162,-3.084379,-4.210410,-3.733820,-2.733797,-1.935106,-1.779987,-1.254270,-0.608612,...,0.864626,0.781909,0.623981,1.009745,1.284270,1.448595,1.393048,1.621618,2.238622,1.767265
1974,-0.886430,-3.686988,-4.518615,-4.213926,-3.706176,-2.677737,-1.587460,-1.450537,-0.925536,-0.301669,...,1.009605,0.963591,1.009558,1.174546,1.052831,0.829570,0.901804,1.286202,1.860510,-0.165253
2905,1.359176,-0.829784,-2.637788,-3.455480,-4.075587,-3.902612,-2.868406,-1.842288,-1.739093,-1.151803,...,0.423574,0.688412,0.800528,0.979910,1.103149,1.018079,1.152184,1.108270,1.974042,1.055362
1536,-0.924702,-3.435551,-4.255070,-4.592861,-3.757135,-2.628617,-2.067179,-1.810549,-0.930448,-0.399014,...,0.474748,1.124692,1.109565,0.967409,0.830435,0.499172,0.395863,0.304092,1.105778,1.016879
679,1.964891,1.555575,-0.869655,-2.294871,-3.760029,-4.327142,-3.388973,-1.991593,-1.658679,-0.728022,...,-0.635680,-0.530590,0.022647,0.874383,0.698861,1.055575,1.077426,0.722963,0.099469,-0.187140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.858856,-1.255056,-2.649538,-3.626291,-4.429612,-4.306127,-2.969045,-1.873762,-1.722673,-0.743290,...,0.289357,0.700128,1.620762,1.613312,1.764131,2.013809,1.918569,1.482261,0.721869,1.144019
642,-0.658584,-3.271478,-4.550643,-4.560691,-3.972582,-2.784941,-1.774708,-1.496075,-0.753084,-0.158155,...,0.834122,0.815028,0.783640,1.031223,1.050772,0.795279,0.926456,1.170361,1.860439,0.213854
1087,-0.449183,-2.570855,-3.394031,-4.137562,-4.074851,-3.145741,-1.932255,-1.645694,-1.197856,-0.371968,...,0.436298,0.844905,0.970873,1.132088,1.294585,1.309551,1.240390,1.046417,1.697741,1.581276
2630,-0.648574,-1.887663,-2.703152,-3.782261,-4.173300,-3.913046,-2.981749,-1.848571,-1.478986,-0.986699,...,1.279888,1.358985,1.683752,1.606146,1.238428,0.553150,0.251124,0.241565,-0.049292,-1.337085
1577,-1.347887,-2.839804,-3.371063,-3.856606,-3.747792,-3.255632,-2.186765,-1.732328,-1.519678,-0.892295,...,1.373809,1.337632,1.316929,1.217479,1.109058,0.782982,0.623387,0.843599,1.326087,0.383505

# Zeitreihen plotten